* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
    float: left;
    padding-right: 10px;
}
body {
    font-family: 'Roboto Serif', serif;
    font-family: 'Urbanist', sans-serif;
    background-color: white;
    color: black;

}
.container {
    width: 80%;
    margin: 0 auto;
}

main {
    padding-top: 1rem;
}

h1 {
    color: rgb(212, 22, 152);
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
}
.sub-header {
    margin-right: auto;
    margin-left: auto;
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-size: 0.8rem;
    text-align: center;
    font-weight: lighter;
}
.row {
    background-color: white;
}

.collector {
    float: left;
    width: calc(100% / 3);
    padding: 0 20px;
    text-align: left;
    padding-bottom: 3rem;
    
}
.collector img {
    height: 100px;
}
h3 , p, em {
    color: white;
    padding-top: 10px ;
    
}
.card-container p:nth-child(3) {
    color:rgb(121, 171, 213);
}

.card-container {
    background-color: rgb(12, 12, 72);
    height: 100px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
/* .page {display: block;  width: 96%;}
.page .left-content {display: inline-block; float:left; width: 15%;}
.page .right-content {display: inline-block; float:left; width: 75%;} */

/* .right-content {
    background-color: rgb(12, 12, 72);
    color: white;
    height: 110px;
    width: fit-content;
    float:right;

} */