:root {
    --primary-dark-gray: #352F28;
    --primary-dark-blue: #121B20;
    --secondary-blue: #1E5E8A;
    --secondary-dark-gray: #A5B9C0;
    --light-blue: #227FA4;
    --text-color: #FFFFFF;
    --input-background: #F0F0F0;
    --button-gradient-start: #1E5E8A;
    --button-gradient-end: #227FA4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Varela Round', sans-serif;
    height: 100vh;
    background: linear-gradient(135deg, var(--primary-dark-gray), var(--secondary-dark-gray), var(--primary-dark-blue));
    animation: gradientBackground 15s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}

@keyframes gradientBackground {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.container {
    width: 90%;
    max-width: 1200px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.logo-wrapper {
    width: 100%;
    max-width: 40%;
    background-image: url('/img/back-ground-it-agency.webp');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 50%;
}

.logo img {
    width: 150px;
}

.form-wrapper {
    width: 100%;
    max-width: 60%;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col {
    width: 48%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.col input {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: var(--input-background);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.col input:focus {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    outline: none;
}

.col label {
    margin-bottom: 5px;
    font-size: 0.9rem;
    color: var(--secondary-dark-gray);
}

.btn-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    background: linear-gradient(to right, var(--button-gradient-start), var(--button-gradient-end));
    border: none;
    border-radius: 25px;
    color: var(--text-color);
    padding: 15px 30px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.btn:hover {
    background: linear-gradient(to right, var(--button-gradient-end), var(--button-gradient-start));
    transform: translateY(-3px);
}

.btn:active {
    transform: translateY(0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.btn-wrapper p {
    margin-top: 15px;
    color: var(--text-color);
}

.btn-wrapper a {
    color: var(--secondary-dark-gray);
    text-decoration: underline;
}